/* cart */
body {
  background: #fff;
  min-height: 100vh;
  vertical-align: middle;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.title {
  margin-bottom: 5vh;
}
.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}
@media (max-width: 767px) {
  .card {
    margin: 3vh auto;
  }
}
.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
@media (max-width: 767px) {
  .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}
.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}
@media (max-width: 767px) {
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}
.summary .col-2 {
  padding: 0;
}
.summary .col-10 {
  padding: 0;
}
.row {
  margin: 0;
}
.title b {
  font-size: 1.5rem;
}
.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
.col-2,
.col {
  padding: 0 1vh;
}
a {
  padding: 0 1vh;
}
.close {
  margin-left: auto;
  font-size: 0.7rem;
}
img {
  width: 5rem;
}
.back-to-shop {
  margin-top: 4.5rem;
}
h5 {
  margin-top: 4vh;
}
hr {
  margin-top: 1.25rem;
}

.hoadon {
  padding: 2vh 0;
  height: 70%;
}
select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 50%;
  font-size: 0.7rem;
  margin-top: 0px;
  padding: 1vh;
  border-radius: 0;
}
.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}
.btn:hover {
  color: white;
}
a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}
.code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

/* cart */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;

  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: -2px 40px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}




/* admin */
/* AMIN */

.admin-header {
  margin-top: 10px;
}
.header1 {
  display: flex;
  
  padding: 0 10px;
  height: 120px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgb(174, 185, 191);
}

.header {
  display: flex;

  padding: 0 10px;
  height: 120px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgb(174, 185, 191);
}

.custom-icon1 {
  font-size: 40px;
  margin-left: 20px;
  background-color: grey;
  border-radius: 50%;
  color: black;
}

.image {
  /* margin-top: 10px; */
  margin-left: 20px;
  height: 100px;
  width: 150px;
}

.tk {
  display: flex;
  width: 100%;
  align-items: center;
}

.profile {
  margin-left: auto;
  margin-right: 20px;
}

/* khi hover vào vào icon thì hiện dăng xuất k thì k hiện */
.profile > li > a {
  color: black;
  font-size: 20px;
  margin-left: -20px;
  font-weight: bolder;
  display: block;
}

.profile > ul {
  position: relative;
  list-style: none;
  width: 200px;
}

/* CSS cho phần hiển thị khi hover vào biểu tượng */
.profile ul:hover li {
  display: block;
}

.profile ul li {
  display: none;
  position: absolute;
  top: 5px;

  left: 63px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgb(174, 185, 191);
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  width: 150px;
}

.custom-input {
  padding: 8px;
  width: 300px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 650px;
}

/* Thiết lập kiểu dáng cho nút Tìm kiếm */
.custom-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ... Các phần CSS khác của bạn ... */

/* Box left */
.header {
  width: 255px;
  height: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgb(174, 185, 191);
  position: fixed;
  top: 135px;
  left: 20px;
  overflow-y: auto;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
}

.nav-wrap {
  padding: 20px;
  text-align: center;
}

/* Menu chính */
.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav li {
  margin-bottom: 15px;
}

.main-nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  display: block;
  transition: color 0.3s ease-in-out;
  margin-top: 20px;
}

.main-nav a:hover {
  color: #007bff;
  /* Màu khi hover */
}

.tb {
  width: 78%;
  flex-grow: 1;
  margin-left: 273px;
  /* Đảm bảo khoảng cách giữa box left và thông tin */
  margin-top: -16px;
  /* Đảm bảo khoảng cách từ đỉnh trang */
}

/* CSS cho bảng */
.tb > table {
  width: 100%;
  border-collapse: collapse;
  /* Loại bỏ khoảng cách giữa các ô */
  margin-top: 20px;
}
.imgsua {
  width: 150px;
  height: 100px;
}

.tb th,
.tb td {
  border: 1px solid #ddd;
  /* Đường viền ô */
  padding: 20px;

  /* Khoảng cách giữa nội dung và đường viền */
  text-align: left;
  /* Căn lề văn bản */
}

.tb th {
  background-color: #f2f2f2;
  /* Màu nền cho hàng tiêu đề */
}

.tb tr:hover {
  background-color: #f5f5f5;
  /* Màu nền khi hover */
}
.custom-icons1 {
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: rgb(191, 138, 138);
  border: none;
  width: 90px;
}
.custom-icons2 {
  
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: rgb(191, 138, 138);
  border: none;

}
